<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".DataGreenApp"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@drawable/ic_minigreen"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_minigreen"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataGreenMovilLight">
        <activity
            android:name=".QRViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_qrview"
            android:theme="@style/Theme.DataGreenMovilLight.Fullscreen" />
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/Theme.DataGreenMovilLight.Fullscreen" />
        <activity
            android:name=".CosechaActivity"
            android:exported="true"
            android:label="@string/title_activity_cosecha"
            android:theme="@style/Theme.DataGreenMovilLight.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- tools:replace="android:appComponentFactory" -->
        <activity
            android:name=".TallerActivity"
            android:exported="false"
            android:label="@string/title_activity_taller" />
        <activity
            android:name=".TransportesActivity"
            android:exported="false"
            android:label="@string/title_activity_transportes" />
        <activity
            android:name=".ASJMessenger"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".TareosActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />

        <service
            android:name=".DataGreenUpdateService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.datagreenmovil.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".BroadcastConnectivityChange"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.SyncDBService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".SettingsTransporte"
            android:exported="false" />
        <activity
            android:name=".cls_08020000_AgregarDni"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".cls_08010000_Edicion"
            android:exported="false" />
        <activity
            android:name=".cls_08000000_ServiciosTransporte"
            android:exported="false">

        </activity>
        <activity
            android:name=".cls_07000100_Item_RecyclerView"
            android:exported="false" />
        <activity
            android:name=".cls_07000000_Estandares"
            android:exported="false" />
        <activity
            android:name=".cls_00000000_Plantilla_Base"
            android:exported="false" />
        <activity
            android:name=".cls_06000100_ItemRecyclerView"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".cls_06010000_NuevoPallet"
            android:exported="true" />
        <activity
            android:name=".cls_05020000_Reportes"
            android:exported="false" />
        <activity
            android:name=".cls_06000000_Eficiencias"
            android:exported="false" />
        <activity
            android:name=".cls_05000000_Tareos"
            android:exported="false" >
        </activity>
        <activity
            android:name=".cls_02000000_Configuracion"
            android:exported="false" />
        <activity
            android:name=".cls_03000000_Login"
            android:exported="false">

        </activity>
        <activity
            android:name=".cls_05010000_Edicion"
            android:exported="false"
            android:parentActivityName=".cls_04000000_Modulos" />
        <activity
            android:name=".cls_04000000_Modulos"
            android:exported="false"
            android:parentActivityName=".cls_04000000_Modulos" >

        </activity>

        <activity
            android:name=".cls_01000000_Commutador"
            android:exported="true">
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />
                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>
        <activity
            android:name=".ui.estandares.EstandaresActivity"
            android:exported="true"
            android:label="@string/title_activity_estandares"
            android:theme="@style/Theme.DataGreenMovilLight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EvaluacionesActivity"
            android:exported="true"
            android:label="@string/title_activity_evaluaciones" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>